


<div class="row ml-5">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body" style="background-color:bisque">
            <div class="ml-5"> <br>
                <h2>{{deviceDetail.name}}</h2>
                <p>Brand: {{deviceDetail.brand}}</p>
                <p>Model: {{deviceDetail.model}}</p>
                <p>year: {{deviceDetail.year}}</p>
                <p>Serial: {{deviceDetail.serial}}</p>
                </div>
                <button type="submit" class="btn btn-primary" (click)="update(deviceDetail.id)">Update</button><br> 
        </div>
      </div>
    </div>

  </div><br>